/* "Tide" theme */
/* TODO:
- Convert the other themes to CSS Variables
- Allow user to set default CSS theme in JS config
- Export the themes as identical JS objects
- For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */

:root {
    /* Interface UI Colors */
    --default-color: #212121;
    --hover-color: #ffffff;
    --active-color: #212121;
    --ui-border-color: #212121;
    --ui-border-color-dark: #000000;
    --ui-border-color-active: #212121;
    --primary-background-color: #dcf0fa;
    --box-background-color: #ffffff;

    /* Common palette */
    --ui-yellow: #E29E4A;
    --ui-sky-blue: #6FBDE2;
    /* State palette */
    --ui-state-error: #FFCCCC;
    --ui-state-error-border: #993333;
    --ui-state-error-text: #661111;
    --ui-gray-light: #afafaf;
    --ui-gray: #c3c3c3;
    --ui-gray-dark: #e6e6e6;
    --ui-gray-darker: #f5f5f5;
    --ui-gray-darkest: #ffffff;

    /* Text Colors */
    --text-color-active: #000000;
    --text-primary-color: #000000;
    --text-secondary-color: #212121;
    --text-disabled-color: #757575;
    --large-numbers-color:#000000;

    --input-background-color: #ebebeb;
    --input-placeholder-color: #000000;

    --table-hover-color: #e6e6e6;
    --table-text-primary-color: #212121;
    --table-text-secondary-color: #757575;

    --state-error: #FFCCCC;
    --state-error-border: #FFCCCC;
    --state-error-text: #FFCCCC;
}
